.faq {
    margin-bottom: 20px;

    .faq-title {
        font-family: $secondary_font;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.8em;
        color: $white;
        background: $black;
        padding: 10px 20px;
        padding-left: 40px;
        margin: 0;
        cursor: pointer;
        transition: background-color 0.11s ease-in-out;
        position: relative;

        @media (min-width: 992px) {
            font-weight: 700;
        }

        &:hover, :focus, :active {
            background: $black;
        }
        
        .icon {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            &::before {
                content: "\f146";
            }
        }

        &.collapsed {
            background: $primary;

            &:hover, :focus, :active {
                background: $black;
            }

            .icon {
                &::before {
                    content: "\f0fe";
                }
            }
        }
    }

    .faq-content {
        font-family: $primary_font;
        font-weight: 400;
        color: $black;
        padding: 10px 20px;
        border: 1px solid $secondary;
        border-top-width: 0;
        background: $white;

        p {
            margin-bottom: 0;
        }
    }
}