.orange-header {
    position: fixed;
    z-index: 1000;
    background: $white;
    width: 100%;
    box-shadow: 0px 2px 10px #0000007a;

    nav {
        .header-main {
            padding-top: 15px;
            padding-bottom: 15px;
            position: relative;

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 6fr;
                grid-gap: 30px;
            }

            .logo {
                img {
                    max-width: 30%;
                    display: flex;
                    margin: 0 auto;

                    @media (min-width: 768px) {
                        display: block;
                        max-width: 100%;
                    }
                }
            }

            .menu {
                display: none;

                @media (min-width: 768px) {
                    display: block;
                }

                .main-menu {
                    .page-menu {
                        .header-menu-container {
                            ul {
                                list-style-type: none;
                                margin: 0;
                                padding: 15px 0;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: flex-end;

                                li {
                                    position: relative;

                                    a {
                                        color: $black;
                                        font-family: $primary_font;
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        padding-right: 15px;
                                        padding-top: 15px;
                                        padding-bottom: 15px;
                                    }

                                    &:hover {
                                        & > ul {
                                            display: block;
                                        }
                                    }

                                    ul {
                                        display: none;
                                        position: absolute;
                                        left: 0;
                                        top: 100%;
                                        z-index: 1000;
                                        background: $white;
                                        float: left;
                                        min-width: 160px;
                                        padding: 5px 0;
                                        margin: 2px 0 0;
                                        font-size: 14px;
                                        text-align: left;
                                        list-style: none;
                                        background-color: $white;
                                        background-clip: padding-box;
                                        border: 1px solid #ccc;
                                        border: 1px solid rgba(0,0,0,.15);
                                        border-radius: 4px;
                                        box-shadow: 0 6px 12px rgba(0,0,0,.175);

                                        li {
                                            transition: background-color 0.13s ease-in-out;

                                            &:hover {
                                                background-color: #efefef;

                                                & ul {
                                                    display: block;
                                                }
                                            }

                                            a {
                                                display: block;
                                                padding: 3px 20px;
                                                clear: both;
                                                font-weight: 400;
                                                line-height: 1.42857;
                                                color: $black;
                                                white-space: nowrap;

                                                &:hover {
                                                    text-decoration: none;
                                                }
                                            }

                                            ul {
                                                display: none;
                                                top: 0;
                                                left: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .call {
                        display: flex;
                        .icon {
                            border: 2px solid $primary;
                            color: $primary;

                            i {
                                line-height: 3;
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                        }

                        .text {
                            padding-left: 10px;

                            p {
                                font-family: $secondary_font;
                                font-weight: 700;
                                color: $black;
                                font-size: 1.1em;
                                text-transform: uppercase;
                                text-align: center;
                            }

                            a {
                                font-family: $secondary_font;
                                font-weight: 700;
                                color: $primary;
                                font-size: 1.1em;
                                text-transform: uppercase;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .responsive-menu-btn {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                background: transparent;
                border: none;
                outline: none;
                font-size: 27px;
                color: $black;
                z-index: 6;

                @media (min-width: 576px) {
                    right: 0;
                }
            }

            .responsive-social-menu {
                margin-top: 16px;

                ul  {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    margin: 0;
                    justify-content: center;

                    li {
                        padding: 0 10px;
                        
                        a {
                            color: $secondary;
                            text-decoration: none;

                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.responsive-menu-container {
    width: 270px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 500;
    background: $primary;
    color: $white;
    display: none;

    .responsive-menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: none;
        outline: none;
        color: $white;
        font-size: 22px;
    }

    .responsive-header-menu {
        overflow: auto;
        height: calc(100% - 45px);
        margin-top: 45px;
        padding-bottom: 120px;
        padding-top: 10px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                width: 100%;
                font-size: 20px;
                padding: 0 10%;

                a {
                    color: $white;
                    font-family: $primary_font;
                    font-weight: 300;
                }
            }
        }
    }
}

body {
    &.responsive-menu-opened {
        overflow: hidden;
    }
}
