.section-heading {
    width: 100%;
    .main-heading {
        color: $black;
        font-family: $secondary_font;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2.2em;
        text-align: center;

        span {
            color: $primary;
        }
    }

    .sub-heading {
        color: $black;
        font-family: $primary_font;
        font-weight: 400;
        font-size: 1.4em;
        text-align: center;
    }
}

.orange-homepage-banner {
    .banner-main {
        background: url('../images/header-banner-bkg.jpg');
        background-position: center;
        background-size: cover;
        position: relative;

        .banner-content {
            margin-top: 130px;
            margin-bottom: 250px;

            .orange-banner-heading {
                font-family: $secondary_font;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2rem;
                color: $white;
                margin-bottom: 0;

                @media (min-width: 768px) {
                    font-size: 3.6vw;
                }
            }
    
            .orange-banner-sub-heading {
                font-family: $primary_font;
                font-weight: 300;
                font-size: 1rem;
                color: $white;
                line-height: 1;
                margin-bottom: 80px;

                @media (min-width: 768px) {
                    font-size: 2vw;
                }
            }

            .orange-banner-form {
                #bannerServiceCat {
                    outline: none;
                    border: 0;
                    appearance: none;
                    font-family: $primary_font;
                    font-weight: 400;
                    font-size: 1.26em;
                    color: $secondary;
                    padding: 10px 15px;
                    border-radius: 3px;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        border: 0;
                    }

                    &::after {
                        content: "";
                    }

                    option {
                        outline: none;
                        border: none;

                        &:hover {
                            background: $primary;
                        }

                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                }

                #bannerService {
                    position: relative;

                    input {
                        height: 100%;
                        width: 100%;
                        border-radius: 3px;
                        padding: 10px;
                        border: 0;
                        outline: none;
                        color: $secondary;
                        font-family: $primary_font;
                        font-weight: 400;
                        font-size: 1em;

                        &::placeholder {
                            color: $secondary;
                        }
        
                        &:-ms-input-placeholder {
                            color: $secondary;
                        }
        
                        &::-ms-input-placeholder {
                            color: $secondary;
                        }
                    }

                    .servicece-list {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        padding: 0;
                        margin-bottom: 0;
                        z-index: 200;
                        max-height: 300px;
                        overflow-y: auto;
                        background: $white;
                        border-top: 1px solid $secondary;
                        border-bottom: 1px solid $secondary;
                        display: none;

                        // @media (min-width: 768px) {
                        //     left: 14px;
                        //     top: calc(100% - 2px);
                        //     width: calc(100% - 28px);
                        // }

                        li {
                            padding: 10px;
                            list-style-type: none;
                            background: $white;
                            color: $secondary;
                            font-family: $primary_font;
                            font-weight: 400;
                            font-size: 1em;
                            width: 100%;
                            border-bottom: 1px solid $secondary;
                            border-left: 1px solid $secondary;
                            border-right: 1px solid $secondary;
                            transition: all 0.11s ease-in-out;

                            &:hover {
                                background: $secondary;
                                color: $white;
                                cursor: pointer;

                                a {
                                    color: $white;
                                }
                            }

                            &:last-child {
                                border-bottom: none;
                            }

                            a {
                                width: 100%;
                                height: 100%;
                                color: $secondary;
                                text-decoration: none;
                                font-family: $primary_font;
                                font-weight: 600;
                                font-size: 1em;
                                padding: 10px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        .banner-shape {
            width: 100%;
            position: absolute;
            bottom: 0;
            user-select: none;
        }
    }
}

.bkg-paper-texture {
    width: 100%;
    height: auto;
    position: relative;
    top: -5px;
    background: url('../images/paper-texture.jpg');
    background-position: top center;
    background-repeat: repeat;
    background-size: contain;

    @media (min-width: 992px) {
        top: 0;
    }
}

.orange-about-section {
    padding-top: 50px;

    .container {
        .orange-about-video {
            .video-main {
                position: relative;
                margin-bottom: 40px;

                @media (min-width: 992px) {
                    margin-bottom: 0;
                }

                video {
                    background: #000;
                    cursor: pointer;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $secondary;
                    opacity: 0.68;
                    cursor: pointer;

                    &:hover + .play-icon {
                        transform: translate(-50%, -50%) scale(0.5);
                    }
                }

                .play-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 20%;
                    user-select: none;
                    cursor: pointer;
                    transition: transform ease-out 0.12s, opacity ease-out 0.12s;

                    &:hover {
                        transform: translate(-50%, -50%) scale(0.5);
                        opacity: 0.5;
                    }
                }
            }
        }

        .orange-about-content {
            .heading {
                padding-left: 40px;
                position: relative;

                .about-main-heading {
                    color: $black;
                    font-family: $secondary_font;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 2.2em;

                    span {
                        color: $primary;
                    }
                }

                .about-sub-heading {
                    color: $black;
                    font-family: $primary_font;
                    font-weight: 400;
                    font-size: 1.4em;
                }

                .heading-span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 100%;
                    background: $primary;
                }

                .heading-span2 {
                    position: absolute;
                    top: 0;
                    left: 5px;
                    width: 10px;
                    height: 100%;
                    background: $primary;
                    opacity: 0.5;
                }
            }

            .text {
                padding-left: 40px;

                p {
                    color: $black;
                    font-family: $primary_font;
                    font-weight: 400;
                    font-size: 0.9em;
                }

                .orange-about-sec-button {
                    display: inline-block;
                    vertical-align: middle;
                    user-select: none;
                    white-space: nowrap;
                    text-align: center;
                    font-family: $primary_font;
                    font-weight: 700;
                    font-size: 1rem;
                    color: $primary;
                    border: 2px solid $primary;
                    border-radius: .25rem;
                    background: transparent;
                    padding: 10px 55px;
                    cursor: pointer;
                    margin-bottom: 30px;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out;

                    &:hover {
                        background: $primary;
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.orange-new-book-section {
    padding-top: 50px;
    padding-bottom: 30px;
    background: transparent;
    background: linear-gradient(to bottom, transparent 0%, transparent 18%,adjust-color($primary, $alpha: -0.8) 100%);

    
    .orange-new-book-cat-heading {
        margin-bottom: 28px;

        .new-book-cat-title-section {
            ul {
                display: flex;
                list-style-type: none;
                padding: 0;
                justify-content: center;

                .new-book-cat-title {
                    display: inline-block;
                    text-align: left;
                    padding: 0 15px;
    
                    a {
                        text-align: left;
                        color: $primary;
                        font-family: $secondary_font;
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 1.2vw;
                        border-bottom: 3px solid transparent;
                        padding-bottom: 8px;
                        transition: all 0.15s ease-out;

                        &:hover {
                            border-bottom: 3px solid $primary;
                            text-decoration: none;
                            font-weight: 700;
                        }
                    }

                    &.active {
                        a {
                            border-bottom: 3px solid $primary;
                            text-decoration: none;
                            font-weight: 700;
                        }
                    }
                }
            }
            
        }
    }

    .orange-new-book-cat-content {
        .books {
            display: none;

            &:first-child {
                display: flex;
            }

            .book {
                margin-bottom: 20px;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

// Self Publish Section
.orange-self-pulish-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f7f7f7;

    .orange-steps {
        width: 100%;
        margin-top: 60px;

        @media (min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 35px;
        }

        .step {
            background: $white;
            padding: 20px 5px;
            box-shadow: 0px 5px 9px 0px #00000017;
            cursor: pointer;
            transition: box-shadow ease-out 0.15s;
            position: relative;
            margin-bottom: 19px;
            width: 85%;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                box-shadow: -1px 0px 5px 0px #00000017;
            }

            @media (min-width: 992px) {
                width: auto;
                margin: 0;

                &::after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    right: -15px;
                    border-top: 20px solid transparent;
                    border-left: 20px solid #fff;
                    border-bottom: 20px solid transparent;
                    z-index: 0;
                }
            }

            &:last-child {
                &::after {
                    border: none;
                }
            }

            img {
                max-width: 60%;
                display: flex;
                margin: 0 auto;
            }
            
            p {
                font-family: $secondary_font;
                font-weight: 700;
                font-size: 1em;
                text-transform: uppercase;
                color: $black;
                text-align: center;
                margin-top: 25px;
                margin-bottom: 0;
            }
        }
    }
}

// Homepage Contact Section
.orange-homepage-contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/contact-section-background.jpg');
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .heading {
        h2, .h2 {
            font-family: $secondary_font;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            margin-bottom: 30px;
        }
    }

    form {
        width: 100%;

        .form-container {
            margin: 0 auto;

            @media (min-width: 576px) {
                padding: 0;
            }

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
                grid-gap: 15px;
                justify-content: center;
            }

            input {
                border: none;
                outline: none;
                background: $white;
                padding: 10px 18px;
                border-radius: 5px;
                font-family: $primary_font;
                font-weight: 400;
                color: $secondary;
                width: 100%;
                margin-bottom: 15px;

                &::placeholder {
                    color: $secondary;
                }
            }

            button, input[type=submit] {
                border: none;
                display: inline-block;
                width: 100%;
                background: $black;
                color: $white;
                outline: none;
                font-family: $primary_font;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                padding: 10px;
                font-size: 0.8rem;
                border-radius: 0;
                transition: color .15s ease-in-out, background-color .15s ease-in-out;

                &:hover {
                    text-decoration: none;
                    background: adjust-color($color: $black, $lightness: 10%);
                }
            }
        }
    }
}

.orange-partner-section {
    background: #f7f7f7;
    padding: 30px 0;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        box-shadow: 0px 3px 4px #0000000d;

    }

    .logo {
        display: flex;

        img {
            width: 90%;
            display: flex;
            margin: auto;
        }
    }
}

.orange-sell-book-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/paper-texture.jpg');
    background-position: top center;
    background-repeat: repeat;
    background-size: contain;

    .orange-sell-book-content {
        margin-top: 10px;

        .image-side {
            margin-bottom: 20px;

            @media (min-width: 992px) {
                margin-bottom: 0;
            }

            img {
                width: 100%;
                display: flex;
                margin: 0 auto;
            }
        }

        .text-side {
            padding-top: 10px;

            .points {
                list-style-type: none;
                padding-left: 0;

                @media (min-width: 576px) {
                    padding-left: 45px;
                }

                .point {
                    position: relative;

                    @media (min-width: 576px) {
                        &::after {
                            content: "";
                            width: 28px;
                            height: 28px;
                            position: absolute;
                            left: -43px;
                            top: 5px;
                            background: url('../images/tick.svg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }

                    .point-heading {
                        font-family: $secondary_font;
                        font-weight: 700;
                        font-size: 1.2em;
                        text-transform: uppercase;
                        text-align: center;
                        color: $secondary;

                        @media (min-width: 576px) {
                            text-align: left;
                        }
                    }

                    .point-desc {
                        font-family: $secondary_font;
                        font-size: 1em;
                        font-weight: 400;
                        text-transform: uppercase;
                        color: $black;
                        text-align: center;

                        @media (min-width: 576px) {
                            text-align: left;
                        }
                    }
                }
            }

            .button-section {
                padding-left: 0;
                margin-top: 40px;
                text-align: center;

                @media (min-width: 576px) {
                    padding-left: 45px;
                    text-align: left;
                }

                a {
                    display: inline-block;
                    vertical-align: middle;
                    user-select: none;
                    white-space: nowrap;
                    text-align: center;
                    font-family: $primary_font;
                    font-weight: 700;
                    font-size: 1rem;
                    color: $primary;
                    border: 2px solid $primary;
                    border-radius: .25rem;
                    background: transparent;
                    padding: 10px 55px;
                    cursor: pointer;
                    margin-bottom: 30px;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out;

                    &:hover {
                        background: $primary;
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.orange-best-seller {
    padding-top: 50px;
    padding-bottom: 90px;
    background: url('../images/best-seller-bkg.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: top 60px right 50px;
    position: relative;

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $primary;
        background: linear-gradient(to right, $primary 0%,#f7900b 100%);
        z-index: -1;
    }

    .image {
        img {
            max-width: 250px;
            display: flex;
            margin: 0 auto;
        }
    }

    .content {
        margin-top: 20px;

        .left {
            h2 {
                font-family: $secondary_font;
                font-weight: 700;
                font-size: 1.5em;
                color: $white;
            }
    
            p {
                font-family: $primary_font;
                font-weight: 300;
                font-size: 0.9em;
                color: $white;
            }

            .button {
                border: none;
                display: inline-block;
                background: $black;
                color: $white;
                white-space: nowrap;
                vertical-align: middle;
                outline: none;
                font-family: $primary_font;
                font-weight: 400;
                padding: 10px 25px;
                font-size: 1rem;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, transform .15s ease-in-out;

                &:hover {
                    text-decoration: none;
                    background: adjust-color($color: $black, $lightness: 10%);
                    transform: scale(1.1);
                }
            }
        }
    }
}

.orange-testimonial-section {
    padding-top: 120px;
    padding-bottom: 50px;
    background: url('../images/testimonial-bkg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 400px;

    .heading {
        width: 100%;

        .main-heading {
            font-family: $secondary_font;
            font-weight: 700;
            font-size: 2.2em;
            text-transform: uppercase;
            color: $white;
            text-align: center;
        }

        .sub-heading {
            font-family: $primary_font;
            font-weight: 400;
            font-size: 1.4em;
            color: $white;
            text-align: center;
        }
    }

    .carousel-inner {
        .testimonial {
            color: $white;

            .text {
                position: relative;

                // &::after {
                //     content: "\f10e";
                //     font-family: 'Font Awesome 5 Free';
                //     font-weight: 900;
                //     position: absolute;
                //     bottom: -38px;
                //     right: 0;
                //     width: 10%;
                //     font-size: 38px;
                //     line-height: 1;
                // }

                &::before {
                    content: "\f10d";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    text-align: right;
                    position: absolute;
                    top: 0;
                    left: -5px;
                    width: 10%;
                    font-size: 38px;
                    line-height: 1;
                }

                p {
                    font-family: $primary_font;
                    font-weight: 300;
                    font-size: 1rem;
                    text-align: center;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
}

.orange-call-section {
    height: auto;
    position: relative;

    @media (min-width: 1200px) {
        height: 0;
    }

    .container {
        background: #fff;

        @media (min-width: 1200px) {
            padding: 15px 0;
            position: absolute;
            top: -53px;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 4px 11px #000000c9;
        }

        .heading {
            width: 100%;
            margin-top: 20px;

            @media (min-width: 1200px) {
                margin-top: 0;
                width: 70%;
                float: left;
            }
            .main-heading {
                color: $black;
                font-family: $secondary_font;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.6em;
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: left;
                }
        
                span {
                    color: $primary;
                }
            }
        
            .sub-heading {
                color: $black;
                font-family: $primary_font;
                font-weight: 400;
                margin-bottom: 0;
                font-size: 1.2em;
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: left;
                }
            }
        }

        .button-section {
            vertical-align: middle;
            display: flex;

            @media (min-width: 1200px) {
                width: 30%;
                float: left;
                height: 100%;
            }

            a {
                margin: 20px auto;
                display: inline-block;
                vertical-align: middle;
                user-select: none;
                white-space: nowrap;
                text-align: center;
                font-family: $primary_font;
                font-weight: 700;
                font-size: 1rem;
                color: $primary;
                border: 2px solid $primary;
                border-radius: .25rem;
                background: transparent;
                padding: 10px 55px;
                cursor: pointer;
                transition: color .15s ease-in-out,background-color .15s ease-in-out;

                @media(min-width: 1200px) {
                    margin: auto 0;
                }

                &:hover {
                    background: $primary;
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}

.orange-blog-section {
    padding-top: 50px;

    .blogs {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .blog {
            padding: 8px;
            border-radius: 7px;
            cursor: pointer;
            
        transition: background 0.3s ease-in-out;

            &:hover {
                background: $secondary;

                .date {
                    color: $white;
                }

                .title {
                    color: $white;
                }
            }

            img {
                border-radius: 8px;
                max-width: 100%;
                transition: opacity 0.11s ease-in-out;

                &:hover {
                    opacity: 0.8;
                }
            }

            .date {
                margin-top: 15px;
                margin-left: 20px;
                margin-bottom: 10px;
                border-bottom: 4px solid $primary;
                display: inline-block;
                font-family: $primary_font;
                font-weight: 700;
                font-size: 1.23em;
                color: $black;
            }

            a {
                .title {
                    font-family: $secondary_font;
                    font-weight: 700;
                    color: $black;
                    font-size: 1.3rem;
                    margin-left: 20px;
                    transition: opacity 0.11s ease-in-out;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .blog-button {
        display: inline-block;
        vertical-align: middle;
        user-select: none;
        white-space: nowrap;
        text-align: center;
        font-family: $primary_font;
        font-weight: 700;
        font-size: 1rem;
        color: $primary;
        border: 2px solid $primary;
        border-radius: .25rem;
        background: transparent;
        padding: 10px 55px;
        cursor: pointer;
        margin-top: 30px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out;

        &:hover {
            background: $primary;
            color: $white;
            text-decoration: none;
        }
    }
}
